%h1 Portfolio Items

= link_to "Create New Item", new_portfolio_path


- @portfolios.each do |portfolio|
  %p= portfolio.title
  %p= portfolio.subtitle
  %p= portfolio.body
  = image_tag portfolio.thumb_image unless portfolio.thumb_image.nil?
  = link_to "Edit Item", edit_portfolio_path(portfolio)
  = link_to "Show Item", portfolio_path(portfolio)
-#
